.side-drawer{
    height: 100%;
    background: #000000;
    box-shadow: 2px 0px 5px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 40%;
    max-width: 400px;
    z-index:200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}

.side-drawer img {
    height: 78px;
    width:130px;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.side-drawer.open {
    transform: translateX(0);
}

.side-drawer ul {
    height: 20%;
    font-size: 9px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side-drawer li {
    margin: 0.5rem 0;
}

.side-drawer a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.side-drawer a:hover,
.side-drawer a:active {
    color: #fa923f;
}